body {
  background-color: #faf7f5;
}
.loginInput {
  outline: none;
  border: 1px solid #f38630;
}
.loginInput::placeholder {
  font-size: 0.9rem;
  font-weight: 600;
  color: #69d2e7;
}

.fa-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.hero {
  background-image: url('https://flats-and-flatmates-bucket.s3.amazonaws.com/home_page/images/cover_page_images/homepage_2.png');
  height: 45vh;
  background-position: 10% center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
